# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Geometry.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Student RPO\Documents\MVA\Geometry\.idea\.idea.Geometry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
